@import url('https://fonts.googleapis.com/css?family=Poppins: wght@300;400;500; 600; 700; 800;900&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 1.7em;
    cursor: default;
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, .8);
}
.navigation a{
    /* color: #FFFFFF; */
    font-size: 1.1em;
    /* margin-left: 12px; */
    text-decoration: none;
    padding: 6px 15px;
    font-weight: 600;
}
.endResults{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('space.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.leaderboard{
    color: #FFFFFF;
   
    letter-spacing: .1em;
    text-shadow: 0 0 10px rgba(0, 0, 0, .8);
}
h1{
    font-size: 3em;
}
h2{
    /* first place */
    font-size: 2.0em;
    color: #FFDD00;
}
h3{
    /* second place */
    font-size: 2.0em;
    color: #A0A0A0;
}
h4{
    /* third place */
    font-size: 2.0em;
    color: #9E412F;
}
h5{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
