<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content= "width=device-width, initial-scale=1.0">
        <title>Mixer MD</title>
         <link rel="stylesheet" type="text/css" href="style.css">

        <body>
            <header>
                <h2 class="logo">Mixer MD</h2>
                <nav class="navigation">
                </nav>
            </header>
            <section class="home">
                <div class="loginPage1">
                    <h3>Welcome to Mixer MD!</h3>
                    <h4>Select your path!</h4>
                    <button onclick="window.location.href='../build/index.html'">Player</button>
                    <button onclick="window.location.href='host.html'">Host</button>
                </div>
            </section>
        </body>
    </head>
</html>